{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{form_start(wishForm) }}
    {{ form_widget(wishForm) }}
    <button type="submit"> Ajouter un wish</button>
    {{ form_end(wishForm) }}
{% endblock %}

