{% extends 'base.html.twig' %}

{% block body %}
    {{ wish.title }}
    {{ wish.dateCreated | date('d/m/Y') }}
    <a href="{{ path('wish_edit', {id: wish.id}) }}">modifier</a>
{% endblock %}

{% block title %}

{% endblock %}

